# 忽略文件夹
Note-Token
各种记录
PDF
.*
.obsidian
电费
Snipaste
工作
Paper/2024
Paper
盐与避难所-全要素实景地图自制补充版.jpg


# 压缩包
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.zst
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.7z
*.tar.zst



# Ignore Smart Environment folder
.smart-env